<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список тортиков</title>
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
        crossorigin="anonymous"
    />
    <script src="https://atuin.ru/demo/js/sparticles.min.js"></script>
    <link rel="stylesheet" href="/static/css/cakes.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark nav-theme">
            <a class="navbar-brand" href="logoTort.jpg"><img src="logoTort.jpg" alt="" width="50px"/></a>
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Переключатель навигации"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Главная <span class="sr-only">(текущая)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/reg">Вход/Авторизация</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/reg">Торты</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input
                        class="form-control mr-sm-2"
                        type="search"
                        placeholder="Поиск"
                        aria-label="Поиск"
                    />
                    <button class="btn btn-info my-2 my-sm-0" type="submit">Найти</button>
                </form>
            </div>
        </nav>
    </header>
    <h1>Список тортов, капкейков и пироженки будут доступны позже</h1>
    <div class="falling" ></div>
    <script src="/static/scripts/cakes.js"></script>
</body>
</html>